<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415838091423-94odh6kgffcvrff0rbvetm85ao2jfnef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415838091423-94odh6kgffcvrff0rbvetm85ao2jfnef</string>
	<key>API_KEY</key>
	<string>AIzaSyB7idejne83hnz2SLtQQ8JKw1gGoGhFTt0</string>
	<key>GCM_SENDER_ID</key>
	<string>415838091423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.SimpleMail</string>
	<key>PROJECT_ID</key>
	<string>simplemail-e9dcf</string>
	<key>STORAGE_BUCKET</key>
	<string>simplemail-e9dcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415838091423:ios:b28f2771852810fc858aaa</string>
</dict>
</plist>